
<%= form_for @word, :html => {class: "form-group"} do |f| %>
    <h1> <%= f.label :word %><br></h1>
    <%= f.text_field :word, class: "form-control", placeholder: "Add a new word right here!" %><br>
    <%= f.submit %>
<% end %>
